html, body {
    height: 100%;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

#map {
    height: 100%;
    width: 100%;
}

#search {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    opacity: 0.8;
}

#search-input {
    border-radius: 20px;
    padding: 10px;
}

#info-panel {
    position: absolute;
    top: 10px;
    left: 50px;
    z-index: 1000;
    background: white;
    padding: 10px 15px;
    border-radius: 6px;
    font-weight: bold;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    font-family: Arial;
}

#info-panel.active {
    height: fit-content;
    width: fit-content;
    opacity: 0.8;
    display: inline-block;
}

#info-content {
    margin-top: 10px;
    font-weight: normal;
    font-size: 14px;
    width: 100%;
    height: 80%;

}

